<div id="app-infos" class="vbox">
	<div id="title">{{appname}}</div>
	<div id="version">v{{version}} - {{author}} - Powered by Kyss </div>
</div>
<div class="flex1"></div>
<div id="header-bar" class="hbox">
	{{modules}}
	{{langs}}
</div>
