<div id="kyss_sample-content" class="module-box">
	{{text}}<br /><br />
	<input type="text" id="kyss_sample-input"/><br /><br />
	<a href="#" onclick="pywebview.api.run('kyss_sample', 'Print')">Click here to print the input below</a><br />
	<div id="kyss_sample-output"></div>
</div>
