input:focus,
select:focus,
textarea:focus,
button:focus {
	outline: none;
}

a {
	color: #08c;
	font-weight: bold;
	text-decoration: none;

}

body {
	display: flex;
	flex-direction: column;
	height: 100vh;
	font-family: Ubuntu Mono;
	font-size: 1em;
	margin: 0;
	color: #ffffff;
	background-color: #000;
	background: no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	margin: 0;
	padding-bottom: 10px;
	height: 30px;
	flex-shrink: 0;
	background-color: #000e;
	border-bottom: 2px solid orange;
}

#title {
	align-items: center;
	padding: 0 10px;
	font-weight: bold;
	font-size: 16pt;
	font-family: "Prosto One";
	vertical-align: middle;
	color: orange;
}

#version {
	font-size: 10pt;
	padding: 0 10px;
	color: lightgreen;
}


#header-modules {
	color: black;
	margin-left: auto;
	margin-right: 10px;
	margin-top: 5px;
	line-height: 10px;
}

#center {
	display: flex;
	flex-direction: both;
	flex-grow: 1;
	overflow: overlay;
}

#content {
	display: flex;
	flex: 1;
	flex-direction: both;
}

#main {
	display: flex;
	flex-direction: column;
	flex: 1;
	border-radius: 2px;
}

#main > div {
	overflow: auto;
}

#left {
	display: flex;
}

#right {
	display: flex;
}

#footer {
	display: flex;
	background-color: #0009;
	border-top: 1px solid orange;
	align-items: center;
	flex-grow: 0;
	flex-shrink: 0;
}

.module-box {
	flex: 1;
	padding: 5px;
	margin: 10px;
	background-color: #111d;
	border-radius: 5px;
}


.hbox {
	display: flex;
	flex-direction: row;
}

.vbox {
	display: flex;
	flex-direction: column;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.flex1 {
	flex: 1;
}

.padding5 {
	padding: 5px;
}

.padding10 {
	padding: 10px;
}

.tiny-info {
	font-size: 11pt;
}

.em {
	font-weight: bold;
	padding: 10px;
	height: 14px;
	border-radius: 5px;
}

#popup {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100vw;
	height: calc(100vh - 32px);
	overflow: auto;
	background-color: rgba(0,0,0,0.9);
}

#popup-content {
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	text-align: center;
}

.tooltip-box {
	position: relative;
	margin: 0 auto;
	width: 50%;
}

.tooltip {
	position: absolute;
	left: 5px;
	top: 3px;
	height: 1px;
	min-height: 18px;
	visibility: hidden;
	color: white;
	border: 1px solid orange;
	font-weight: bold;
	font-size: 11pt;
	font-family: 'Prosto One';
	text-align: center;
	border-radius: 6px;
	padding: 8px;
	background-color: black;
	z-index: 1;
}

.tooltip-hover:hover .tooltip {
	visibility: visible;

}

.warning {
	display: inline-block;
	padding: 10px;
	margin: 5px;
	color: red;
	font-weight: bold;
}

.padding-10 {
	padding: 10px;
}

.bg-orange {
	color: black;
	background-color: orange;
}

.bg-blue {
	color: white;
	background-color: #08c;
}

.bg-red {
	color: white;
	background-color: #CC0C00;
}

.error {
	color: #FF8D8D;
}

.cycle-odd {
	background-color: #00000055;
}


.cycle-even {
background-color: #000000ff;
}

.message-box {
	padding: 5px;
	background-color: orange;
	color: black;
	margin-bottom: 5px;
}

.orange {
	color: orange;
}

.title-orange {
	color: orange;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-weight: bold;
	margin: 5px;
}

.bold {
	font-weight: bold;
}

.message {
	display: inline-block;
	padding: 5px;
	color: lightgreen;
}


.menubutton {
	color: black;
	font-weight: bold;
	background-color: #694400;
	padding: 10px 20px;
	border-radius: 0 0 8px 8px;
	border-left: 2px solid #000;
	border-right: 2px solid #000;
	border-bottom: 2px solid #000;
	text-decoration: none;
}

.menubutton.selected {
	background-color: orange;
	border-left: 2px solid #72BFFF;
	border-right: 2px solid #72BFFF;
	border-bottom: 2px solid #72BFFF;
}


.menubutton:hover {
	background-color: #08c;
	text-decoration: none;
	color: white;
} 


.imgbutton {
	color: black;
	background-color: orange;
	padding: 10px 10px;
	border-radius: 5px;
	border: 1px solid #000;
	text-decoration: none;
}

.imgbutton:hover {
	color: white;
	background-color: #08c;
} 

.imgbutton-blue {
	color: white;
	background-color: #08c;
	padding: 10px 20px;
	border-radius: 5px;
	border: 1px solid #000;
	text-decoration: none;
}

.imgbutton-blue:hover {
	color: black;
	background-color: orange;
} 


.note {
	font-size: 0.9rem;
	background-color: #00000099;
	margin: 2px 10px;
	padding: 10px;
	border-radius: 5px;
}

.rounded {
	border-radius: 5px;
}


#ask-question {
	text-align: center;
}

#ask-answer {
	text-align: center;
}

#langs {
	margin: 5px 7px 0 10px;
	font-family: emoji;
	font-size: 18pt;
	height: 30px;
	border: 0;
	background-color: #91C9FF;
}

.h {
	display: flex;
	flex-direction: row;
	align-items: center;
}


.v {
	display: flex;
	flex-direction: column;
	align-items: center;
}


.dropbtn {
	background-color: #08c;
	color: white;
	padding: 8px;
	font-size: 21px;
	border: none;
	cursor: pointer;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #aaa;
	min-width: 35px;
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 8px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: orange
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbtn {
	background-color: #5af;
}