{{#view?}}
<div id="menu-{{name}}" class="tooltip-hover">
	<a href="#" onclick="pywebview.api.run('app', 'ShowPage', '{{action}}')">
		<img class="menu-icon" src="file:data/icons/{{icon}}" />
	</a>
	<span class="tooltip">{{tooltip}}</span>
</div>
{{/view?}}

{{#window?}}
<div id="menu-{{name}}" class="tooltip-hover">
	<a href="#" onclick="pywebview.api.run('app', 'ShowUrlInNewWindow', '{{action}}')">
		<img class="menu-icon" src="file:data/icons/{{icon}}" />
	</a>
	<span class="tooltip">{{tooltip}}</span>
</div>
{{/window?}}

{{#spawn?}}
<div id="menu-{{name}}" class="tooltip-hover">
	<a href="#" onclick="pywebview.api.run('app', 'LoadModuleInNewWindow', '{{action}}', '{{tooltip}}')">
		<img class="menu-icon" src="file:data/icons/{{icon}}" />
	</a>
	<span class="tooltip">{{tooltip}}</span>
</div>
{{/spawn?}}

{{#open?}}
<div id="menu-{{name}}" class="tooltip-hover">
	<a href="{{action}}" target="_blank">
		<img class="menu-icon" src="file:data/icons/{{icon}}" />
	</a>
	<span class="tooltip">{{tooltip}}</span>
</div>
{{/open?}}

{{#exit?}}
<div id="menu-exit" class="tooltip-hover">
	<a href="#" onclick="pywebview.api.run('app', 'Exit')">
		<img class="menu-icon" src="file:data/icons/exit.svg" />
	</a>
	<span class="tooltip">{{>exit}}</span>
</div>
{{/exit?}}

{{#flex?}}
<div style="flex: auto"></div>
{{/flex?}}